

.div-container{
  width: auto;
  height: auto  ;
}
.container-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}



.container-logo {
  
  display: flex;
  height: auto; /* Ajusta la altura según tus necesidades */
  justify-content: center;
  align-items: center;
  background-color: red;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -50px;
}

.container-logo img {
  min-width: 100%; /* Cambiado de width: 100% a min-width: 100% */
  height: 100%;
  object-fit: cover;
  margin: 0; /* Asegúrate de que no haya márgenes */
  padding: 0; /* Asegúrate de que no haya relleno */
}

.container-boton{
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
 

}

.micuentaBoton{
  
  display: flex;
  align-items:end;
  align-items: center;
 margin-right: 40px;
  margin-left: auto; /* Mover el botón al lado derecho */
  font-size: 20px;
  font-weight: bold;
  width: auto;
  height: 60px;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  padding: 10px 20px; /* Corrección: coma en lugar de coma */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  
}


.imagenLogo{
  width: 13vh;
  
  
  background-color: blueviolet;
  border-radius: 50%;
  
}



.class-gym {
  right: 0; /* Alinea a la derecha */
}

.center-content {
  flex-grow: 1; /* Ocupa todo el espacio disponible en el centro */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.containerEnlaces {
z-index: 1;
  
  
}

button {
  font-size: 2rem;
}

.enlaces {
  position: absolute;
  display: flex; /* Mostrar los enlaces en tablets y pantallas grandes */
    justify-content:space-between; /* Restablecer la distribución */
    align-items: center;
  list-style: none;
  z-index: 999;
  margin-top: 70px;
  right: 30%;
  
  

}


.transparent-nav {
  background-color: transparent;
}

.colored-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 27); /* Reemplaza 'your-color' por el color deseado */
}

.enlaces li {
  margin-right: 20px; /* Ajusta el espacio entre los elementos */
  font-size: 30px; /* Ajusta el tamaño de fuente */
  color: white;
  font-weight: bold;
}

/* Estilo para el último enlace */
.enlaces li:last-child {
  margin-right: 0; /* No agregar margen derecho al último elemento */
}


.nameGym {
  display: flex;
  justify-content: center;
  font-size: 90px; /* Tamaño de fuente para .gymNavbar */
  color: red;
  width: auto;
  margin-top: -230px;

} 


@media screen and (min-width: 601px) {
  .menuhamburger {
    display: none;
    

  }
}

@media screen and (max-width: 600px) {

 
  
  .container-logo {
    display: flex;
    height: 200px; /* Ajusta la altura según tus necesidades */
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
  }
  
  .container-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0; /* Asegúrate de que no haya márgenes */
  padding: 0; /* Asegúrate de que no haya relleno */
  }

  .container-boton {
  position: fixed;
  top: 5px;
  right: 90px;
  width: 120px;
  height: auto;
  z-index: 999; /* Ajusta la propiedad z-index según sea necesario */
}

.micuentaBoton {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  height: 60px;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  padding: 10px 20px;
  margin-left: 60px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
}

  

  .gymNavbar {
    font-size: 60px; /* Reducir el tamaño de fuente para pantallas pequeñas */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
  }

  .menuhamburger {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;

  }
  
  .enlaces {
    display: none; /* Ocultar los enlaces en pantallas pequeñas */
    position: absolute;
    
     background:  rgba(0, 0, 0, 0.7); /* Agregar un fondo semitransparente */
  height: 200px;
   top: 10px;
  }
  
  .enlaces.open {
    z-index: 1000;
    position: fixed;
    display: flex; /* Mostrar los enlaces cuando se abre el menú */
    flex-direction: column; /* Mostrar enlaces en una columna */
  
   width: auto;
   height: 160px;
   border-radius: 20px ; 
margin-left: 20px;
margin-right: 90px;


  }
  .imagenLogo{

    width: 15vh;
    height: auto;
    margin-left: 15px;
  }

  .enlaces li {
    color: white;
    margin: 10px 0; /* Agregar espacio vertical entre los elementos */
    font-size: 20px; /* Ajustar el tamaño de fuente */
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: -20px;
  }

  .container-nameGym{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .nameGym{
   
    position: absolute;
    z-index: 9000;
    font-weight: bold;
    font-size: 40px;
    margin-top: -60px;
  }
}

/* Estilos para tablets y pantallas más grandes (más de 600px) */
