

.enlaces {
    display: flex; /* Mostrar elementos como una fila flex */
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center;
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar relleno interno (padding) */
   margin-left: 100%;
   
  }
  
  .enlaces li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Agregar margen derecho para separar los elementos */
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    
  }
  
  /* Estilo para el último enlace */
  .enlaces li:last-child {
    margin-right: 0; /* No agregar margen derecho al último elemento */
    
  }

  @media screen and (max-width: 600px) {
    .enlaces {
      display: none; /* Ocultar los enlaces en pantallas pequeñas */
    }
    
    .enlaces.open {
      display: flex; /* Mostrar los enlaces cuando se abre el menú */
      flex-direction: column; /* Mostrar enlaces en una columna */
      background: rgba(0, 0, 0, 0.7); /* Agregar un fondo semitransparente */
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 60%; /* Ajusta el ancho del menú según tus necesidades */
      padding: 20px;
    }
  
    .enlaces li {
      margin: 10px 0; /* Agregar espacio vertical entre los elementos */
      font-size: 24px; /* Ajustar el tamaño de fuente */
    }
  }
  
  /* Estilos para tablets y pantallas más grandes (más de 600px) */
  @media screen and (min-width: 601px) {
    .enlaces {
      display: flex; /* Mostrar los enlaces en tablets y pantallas grandes */
      justify-content: space-between; /* Restablecer la distribución */
      align-items: center;
    }
  
    .enlaces li {
      margin-right: 20px; /* Restablecer el margen derecho */
      font-size: 30px; /* Restablecer el tamaño de fuente */
    }
  }